---
layout: default
title: Notes
---

<div class="journal-container">
    <section>
        <p>
            This is where I'm going to talk about what I've done for the day, what I've learned, etc.
            Hopefully with time, I can become better at reflecting on my code, how I have grown, and how 
            I can grow more.
        </p>
    </section>
    <hr>
    <section>
    <h2>Journal</h2>
        {% assign entries = site.journal | sort: "date" | reverse %}
        {% assign years = entries | group_by_exp: "entry", "entry.date | date: '%Y'" | sort: "name" | reverse %}
        
        {% for year in years %}
            <section>
                <p class="subheading">| {{year.name}}</p>
                <ul class="journal-entries">
                    {% for entry in year.items %} 
                        <li><a href="{{ entry.url }}">{{ entry.title }}</a><span>{{ entry.date | date: "%-m/%-d/%Y"}}</span></li>
                    {% endfor %}
                </ul>
            </section>
        {% endfor %}
    </section>
</div>