---
layout: default
title: Notes
---

<div class="notespage-container">
    <section>
        <p>This is my place for my notes on books I read, as well as courses and classes I take.</p>
        <p>
            I think for now I'll just keep it coding related, but who knows, maybe I'll just start
            adding whatever notes and books I want. But to be fair, I don't really want to take notes
            on books that I read purely for fun.
        </p>
        <p>
            Anyway, anyway, my goal with this is to help me learn as well as remember and easily access 
            the stuff I've learned. Taking the time to write out my notes in markdown or latex or
            whatever I decide will make sure I get some sort of repetition. And then I'll be able to look
            back if I need to! Win-win! 
        </p>
    </section>
    <hr>
    <section>
        <h2>Books</h2>
        <ul class="notes-list">
            {% for note in site.notes %} 
                {% if note.type == "book" %}
                    <li><a href="{{ note.url }}">{{ note.title }} by {{ note.author }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <h2>Classes</h2>
        <ul class="notes-list">
            <li>Coming soon, pending the note-transfer project</li>
        </ul>
    </section>
</div>