---
layout: default
title: Projects
---

<div class="projects-container">
    <section>
        <p>
            In here we have different pages for some of my projects.
            What is in each page will vary from project to project, but it should contain some information about
            what it is, when it was developed, what I learned from it, that sort of thing.
        </p>
    </section>
    <hr>
    <section>
        <h2>Projects</h2>
        <ul class="project-ul">
            {% assign sorted_projects = site.projects | sort: "number" | reverse %}
            {% for project in sorted_projects %}
                <li class="project-li">
                    <div class="project-header">
                        <a class="project-title" href="{{ project.url }}">{{ project.name }}</a>
                        <span class="project-date">{{ project.year }}</span>
                    </div>
                    <p class="project-description">{{ project.description }}</p>
                    <p class="project-stack">{% for skill in project.stack %}{{skill}}&nbsp;&nbsp;&nbsp;{% endfor %}</p>
                </li>
                <hr style="border-width: 1px;">
            {% endfor %}
        </ul>
    </section>
</div>