/* Back Button */
.control-button {
    padding: 1px 6px;
    border: 2px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
}
.bottom-button-wrapper {
    position: fixed;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%);
}

@media (max-width: 480px) {
    .bottom-button-wrapper {
        position: fixed;
        left: 50%;
        bottom: 10px;
        transform: translate(-50%);
        display: flex;
        gap: 5px;
    }
    .control-button {
        border: 3px outset buttonborder;
        border-radius: 5px;
        color: buttontext;
        background-color: buttonface;
        text-decoration: none;
        width: 130px;
        height: 40px;
        align-content: center;
        text-align: center;
        font-size: larger;
    }
}