/* Everything overall */
html {
    scrollbar-gutter: stable;
}

/* Overall Body */

:root {
    /* Light Mode Colors (Default) */
    --bg-color: #FAFAFA
    --text-color: #141414;
    --link-color: #0056B3;
}
  
@media (prefers-color-scheme: dark) {
    :root {
        /* Dark Mode Colors */
        --bg-color: #141212;
        --text-color: #D1D1D1;
        --link-color: #79BAC1;
    }
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: var(--text-color);
    background-color: var(--bg-color);
}

.content {
    align-self: center;
    width: 600px;
    margin-top: 40px;
}

a {
    color: var(--link-color);
}

/* Header */

header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 75px;
    border-bottom: 1px solid black;
    padding: 0px 5px 0px 5px;
}

.header-content {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.header-content > * {
    margin: 0;
}

/* Side Nav */
.nav-list-container {
    position: sticky;
    top: 75px;
    height: 0px;
    margin-left: -150px;
    font-size: 1.25em;
}
.nav-list {
    padding-left: 0px;
}
.nav-list-text {
    color: var(--text-color);
    text-decoration: none;
}
.nav-list-item {
    list-style: none;
}