/* Everything overall */
html {
    scrollbar-gutter: stable;
}

/* Overall Body */

@media (prefers-color-scheme: light) {
    :root {
        /* Light Mode Colors (Default) */
        // --bg-color: #FAFAFA;
        // --text-color: #141414;
        // --link-color: #0056B3;
        // --heading-color:
        // --muted-color: 
        // --accent-color: 
        --bg-color: #f8f5ee;
        --text-color: #221812;
        --link-color: #0056B3;
        --heading-color: #070201;
        --muted-color: #635147;
        --accent-color: #d8ccbc;
    }
}
  
@media (prefers-color-scheme: dark) {
    /* Dark Mode Colors */
    :root {
        --bg-color: #0d0b08;
        --text-color: #d0d0d0;
        --link-color: #79BAC1;
        --heading-color: #ffffff;
        --muted-color: #909090;
        --accent-color: #444444;
    }
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Serif 4', serif;
    font-size: 18px;
    color: var(--text-color);
    background-color: var(--bg-color);
}

h1, h2, h3, h4, h5, h6 {
    line-height: normal;
    font-weight: 600;
    color: var(--heading-color);
}

strong, b {
    font-weight: 600;
    color: var(--heading-color);
}

hr {
    background: none; /* Remove background-color */
    border: none;
    height: 0;        /* Collapse the block height entirely */
    opacity: 1;
    line-height: 0;
    display: block;

    /* Use a razor-sharp border instead */
    border-top: 2px solid var(--accent-color);
}

p {
    line-height: 1.5;
}

li {
    margin-bottom: 0.5em;
}

.content {
    align-self: center;
    width: 600px;
    margin-top: 40px;
}

@media (max-width: 666px) {
    .content {
        width: 90%;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 16px;
    }
    .content {
        font-size: 16px;
    }
}

a {
    color: var(--link-color);
}

/* Header */

header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 75px;
    border-bottom: 1px solid black;
    padding: 0px 5px 0px 5px;
}

.header-content {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.header-content > * {
    margin: 0;
}