/* Overall Body */

body {
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.content {
    align-self: center;
    width: 750px;
}

/* Header */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 75px;
    border-bottom: 1px solid black;
}

