/* OVERALL HOMEPAGE */

/* Welcome intro */

#nasty-fix {
    margin-top: 0px;
}

#head-section {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#picture-container {
    float: right;
    margin: 0px 1em 1em 1em;
    align-content: center;
}

#picture-container > img {
    width: 175px;
    min-width: 0;
    height: auto;
}

@media (max-width: 480px) {
    #picture-container {
        width: 100%;
    }
    #picture-container > img {
        width: 33vw;
        min-width: 0;
        height: auto;
    }
}

/* Current work section */
#current-work {
    display: flex;
}

.work-column {
    flex: 1;
}

.work-column > p {
    margin: 0;
}

.work-column > p > a {
    color: unset;
    text-decoration: none;
}

.work-column > ul > li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.work-column > ul > li > a{
    color: unset;
    text-decoration: none;
}

/* List of different topics */
#topics-list {
    list-style-type: none;
    padding: 0px 20px 0px 20px;
}

#topics-list > li {
    margin-bottom: 10px;
}

#topics-list > li > a {
    text-decoration: none;
    color: var(--text-color);
}

#topics-list > li > a:hover {
    text-decoration: underline;
}

/* Resumes */

#resume-container {
    display: flex;
    flex-direction: row;
}

#resumes {
    display: flex;
    flex: auto;
    justify-content: space-evenly;
}