/* OVERALL HOMEPAGE */

.home-container {
    margin-top: 20px;
}

/* Intro section */

#resume-container {
    display: flex;
    flex-direction: row;
}

#resumes {
    display: flex;
    flex: auto;
    justify-content: space-evenly;
}

/* Current work section */
#current-work {
    display: flex;
}

.work-column {
    flex: 1;
}

.work-column > p {
    margin: 0;
}

.work-column > p > a {
    color: unset;
    text-decoration: none;
}

.work-column > ul > li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.work-column > ul > li > a{
    color: unset;
    text-decoration: none;
}
