/* OVERALL HOMEPAGE */

/* Welcome intro */
#head-section {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#picture {
    float: right;
    margin: 20px 20px 20px 20px;
    align-content: center;
}

/* Current work section */
#current-work {
    display: flex;
}

.work-column {
    flex: 1;
}

.work-column > p {
    margin: 0;
}

.work-column > p > a {
    color: unset;
    text-decoration: none;
}

.work-column > ul > li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.work-column > ul > li > a{
    color: unset;
    text-decoration: none;
}

/* List of different topics */
#topics-list {
    list-style-type: none;
    padding: 0px 20px 0px 20px;
}

#topics-list > li {
    margin-bottom: 10px;
}

#topics-list > li > a {
    text-decoration: none;
    color: var(--text-color);
}

#topics-list > li > a:hover {
    text-decoration: underline;
}

/* Resumes */

#resume-container {
    display: flex;
    flex-direction: row;
}

#resumes {
    display: flex;
    flex: auto;
    justify-content: space-evenly;
}