/* OVERALL NOTES PAGE */

/* Notes list */

.journal-entries {
    padding: 0px 0px 0px 0px;
}

.journal-entries > li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.journal-entries > li > a {
    color: unset;
    text-decoration: none;
}

.journal-entries > li > a:hover {
    text-decoration: underline;
}