/* OVERALL NOTES PAGE */

/* Notes list */

.journal-entries > li {
    list-style-type: none;
}

.journal-entries > li > a {
    color: unset;
    text-decoration: none;
}

.journal-entries > li > a:hover {
    text-decoration: underline;
}