/* FOR THE HEADER */

body {
    display: flex;
    flex-direction: column;
}

.content {
    align-self: center;
    width: 750px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 75px;
    border-bottom: 1px solid black;
}

/* Header Title */

header > a {
    all: unset;
}

header > a:hover {
    cursor: pointer;
}

header > a > h1 {
    font-size: 40px;
    margin: 0px;
    padding-top: 30px;
    padding-left: 5px;
}

/* Header Navigation */

header > nav {
    padding-right: 5px;
    padding-top: 46px;
}

header > nav > a {
    font-size: 24px;
    color: black;
    text-decoration: none;
    margin: 0px 5px 0px 5px;
}

.current {
    color: blue;
}

/* For the main content */

.main {
    padding: 5px;
}