/* Navigation */

.nav-button {
    display: none;
}

.current {
    text-decoration: underline !important;
}

.nav-list-container {
    position: sticky;
    top: 75px;
    height: 0px;
    margin-left: max(calc(338px - 50vw), -150px);
    font-size: 1.25em;
}

.nav-separator {
    display: none;
}

@media (max-width: 880px) {
    .nav-list-container {
        position: revert;
        top: revert;
        align-self: center;
        width: 600px;
        height: 0;
        overflow: hidden;
        margin: 0;
        font-size: 2em;
        padding: 5px;
    }
    #menu-toggler:checked ~ .nav-list-container {
        display: block;
        height: 100vh; /* Fill the screen */
    }
    .nav-separator {
        display: revert;
        margin: 0;
    }
    .nav-button {
        display: revert;
        padding: 5px;
    }
    #menu-toggler {
        display: none;
    }
    #menu-button {
        display: block;
        align-items: center;
        border-radius: 2px;
        list-style: none;
        z-index: 10001;
        font-size: larger;
        font-style: italic;
    }
}

@media (max-width: 666px) {
    .nav-list-container {
        width: 90%;
    }
}

.nav-list {
    padding-left: 0px;
}
.nav-list-text {
    color: var(--text-color);
    text-decoration: none;
}
.nav-list-item {
    list-style: none;
}

/* For the main content */

.main {
    padding: 5px;
}

hr {
    margin-left: -5px;
    margin-right: -5px;
}