/* Header Title */

.header-content > a {
    all: unset;
    font-size: 48px;
    font-weight: bold;
}

.header-content > a:hover {
    cursor: pointer;
}

/* Header Navigation */

.current {
    text-decoration: underline !important;
}

.header-content > nav > a {
    font-size: 28px;
    color: black;
    text-decoration: none;
    padding-left: 5px;
}

/* For the main content */

.main {
    padding: 5px;
}