/* OVERALL NOTES PAGE */

.notespage-container {
    margin-top: 20px;
}

/* Notes list */

.notes-list > li > a {
    color: unset;
    text-decoration: none;
}

.notes-list > li > a:hover {
    text-decoration: underline;
}