/* Header Title */

.header-content {
    padding: 5px;
    display: flex;
    align-content: space-between;
    gap: 20px;
}

/* Main content */

.main {
    padding: 5px;
}

/* Markdown Styling */

img {
    height: auto;
    max-height: 200px;
    max-width: 100%;
}