/* Container */

/* Projects List */
.project-ul {
    padding: 0px 0px 0px 0px;
    list-style: none;
}

.project-li {
    margin: 20px 0px 20px 0px;
}

.project-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.project-title {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.17em;
}

.project-title:hover {
    text-decoration: underline;
}

.project-date {
    color: var(--muted-color);
    font-size: smaller;
}

.project-description {
    margin: 5px 0px 5px 0px;
}

.project-stack{
    color: var(--muted-color);
    margin: 5px 0px 5px 0px;
    font-size: smaller;
}