/* Header Title */

.header-content {
    padding: 5px;
    display: flex;
    align-content: space-between;
    gap: 20px;
}

.header-content > a {
    font-style: italic;
    text-decoration: none;
}

/* Main content */

.main {
    padding: 5px;
}