/* Container */

/* Projects List */
.project-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 20px 0px 20px;
}

.project-li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 100px;
    width: 100%;
    margin: 5px;
    padding: 10px;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    list-style: none;
    background-color: color-mix(in srgb, var(--text-color) 4%, var(--bg-color)); ;
}

.project-li:hover {
    box-shadow: 0px 0px 1px 1px;
}

.project-li > a {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.project-li > a > div {
    flex-grow: 1;
}

.project-li > a > div > * {
    margin: 0;
    padding: 0;
}

.project-li > a > img {
    height: 90px;
    padding: 5px;
}