<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css"/>
    {% seo %}
    {% include extra_head.html %}
  </head>
  <body>
    <div class="content">
      <!-- {% include header.html %} -->
      {% include side_nav.html %}
      <div class="main">
        {{ content }}
      </div>
    </div>
  </body>
</html>