<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/note-styles.css"/>
    {% include extra_head.html %}
  </head>
  <body>
    <div class="content">
      <div class="header-content">
        <h2>{{ page.title }}</h2>
        <h3>By: {{ page.author }}</h3>
      </div>
      <hr>
      <a id="note-top"></a>
      <div class="main">
        {{ content }}
      </div>
      <div class="bottom-button-wrapper">
        <a class="control-button" href="/notes.html">Back to notes</a>
        <a class="control-button" href="#top">Back to top</a>
      </div>
    </div>
  </body>
  <footer style="height: 60px;"></footer>
</html>