<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.name }}</title>
    <link rel="stylesheet" href="/assets/css/project-styles.css"/>
  </head>
  <body>
    <div class="content">
      <header>
        <div class="header-content">
          <h1>{{ page.name}}</h1>
          <a href="https://{{ page.link }}" target="_blank">{{ page.link }}</a>
        </div>
      </header>
      <a id="note-top"></a>
      <div class="main">
        {{ content }}
      </div>
      <div class="bottom-button-wrapper">
        <a class="control-button" href="/projects.html">Back to projects</a>
      </div>
    </div>
  </body>
</html>